<section class="profile">
    <div class="img_profile">
        <img class="profile" src="../../../assets/images/George.png" alt="Jorge Luis Morales Campos">
    </div>
    <div class="section_text">
        <p class="section_text_p">Hey, I'm</p>
        <h1 class="title">Jorge Luis</h1>
        <p class="section__text__p2">software developer</p>
        <div class="btn-container">
            <button class="btn btn-color-2" onclick="window.open('./assets/docs/CVJorgeLuis.pdf')">Download CV</button>
            <button class="btn btn-color-1">Contact</button>
        </div>
        <app-socialred/>
    </div>
</section>
<section class="about">
    <div class="section-container">
        <app-about/>
    </div>
</section>