<section class="profile">
    <div class="section__pic-container">
        <img class="" src="../../../assets/images/George.png" alt="Jorge Luis Morales Campos">
    </div>
    <div class="section__text">
        <p class="section__text__p">Hola soy</p>
        <h1 class="title">Jorge Luis Morales</h1>
        <p class="section__text__p2">Desarrollador de software</p>
        <button>Descarga mi cv</button>
    </div>
    <div class="btn-container">
        <button class=" btn btn-color-2">Descarga mi CV</button>
        <button class=" btn btn-color-1">Contacto</button>
    </div>
    <div class="socials-container">
        <app-socialred/>
    </div>
    
</section>

